@import './styles/styles';

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  @include font-size($h1-font-sizes);
}

h2 {
  @include font-size($h2-font-sizes);
}

h3 {
  @include font-size($h3-font-sizes);
}

h4 {
  @include font-size($h4-font-sizes);
}

p {
  @include font-size($p-font-sizes);
}

.card {
  margin: 2rem;
  padding: 2rem;
}

//CurrentForecast
.currentContainer {
  max-width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "dateTime dateTime" "temperature icon";
}
.currentTime {
  grid-area: dateTime;
}
.temperatureContainer {
  grid-area: temperature;
  max-width: 200px;
  justify-self: center;
}
.dayNightTemp {
  display: flex;
  justify-content: space-around;
}
.currentTemp {
  @include font-size($h2-font-sizes);
}
.currentTemp,
.feelsLike {
  text-align: center;
}
.weatherContainer {
  grid-area: icon;
  justify-self: center;
  align-self: end;
  margin: 0;
}
.weatherImgCaption {
  @include font-size($p-font-sizes);
  margin: 1.953rem 0;
}

//WeeklyForecast
.weekList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.weekList div {
  display: flex;
  justify-content: space-around;
}