* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
}

h1 {
  font-size: 4.768rem;
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 4.3rem;
  }
}

h2 {
  font-size: 3.815rem;
}

@media screen and (max-width: 570px) {
  h2 {
    font-size: 3.583rem;
  }
}

h3 {
  font-size: 3.052rem;
}

@media screen and (max-width: 570px) {
  h3 {
    font-size: 2.986rem;
  }
}

h4 {
  font-size: 2.441rem;
}

@media screen and (max-width: 570px) {
  h4 {
    font-size: 2.488rem;
  }
}

p {
  font-size: 1.953rem;
}

@media screen and (max-width: 570px) {
  p {
    font-size: 2.074rem;
  }
}

.card {
  margin: 2rem;
  padding: 2rem;
}

.currentContainer {
  max-width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "dateTime dateTime" "temperature icon";
}

.currentTime {
  grid-area: dateTime;
}

.temperatureContainer {
  grid-area: temperature;
  max-width: 200px;
  justify-self: center;
}

.dayNightTemp {
  display: flex;
  justify-content: space-around;
}

.currentTemp {
  font-size: 3.815rem;
}

@media screen and (max-width: 570px) {
  .currentTemp {
    font-size: 3.583rem;
  }
}

.currentTemp,
.feelsLike {
  text-align: center;
}

.weatherContainer {
  grid-area: icon;
  justify-self: center;
  align-self: end;
  margin: 0;
}

.weatherImgCaption {
  font-size: 1.953rem;
  margin: 1.953rem 0;
}

@media screen and (max-width: 570px) {
  .weatherImgCaption {
    font-size: 2.074rem;
  }
}

.weekList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.weekList div {
  display: flex;
  justify-content: space-around;
}
